.annual{
    margin: 0px;
}
body{
    background-image:url("pattern-background-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
}
.btn{
    display: inline-block;
    background-color: hsl(245, 75%, 52%);
    padding: 1rem;
    color: white;
    border-radius: 1rem;
    width:75%;
    text-decoration: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn:hover{
    background-color:hsl(223, 47%, 23%);
}

.cancel{
    display: inline-block;
    color: hsl(224, 23%, 55%);
    margin-top: 2rem;
    padding-bottom: 3rem;
    text-decoration: none;
}
.cancel:hover{
    color: hsl(245, 75%, 52%);
}
.link{
    float: right;
}
.main{
    text-align: center;
    background-color:white;
    margin:5% 35%;
    border-radius: 1rem;
}
.middle{
    background-color: hsl(225, 100%, 98%);
    border-radius: 1rem;
    margin: 10%;
    text-align: left;
    padding: 20px;
}
.money{
    margin: 7px;
}
.music{
    float: left;
    margin-right: 20px;
}
.illustration{
    max-width: 100%;
    height: auto;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
p{
    font-size: 1rem;
    margin: 1rem 3rem;
    color: hsl(224, 23%, 55%);
    line-height: 1.5rem;
}


@media only screen and (max-width:920px){
    .main{
        margin:10% 25%;
    }
}
@media only screen and (max-width:768px){
    body{
        background-image:url("pattern-background-mobile.svg");
    }
    .main{
        margin: 10% 20%;
    }
    .middle{
        padding: 3%;
    }
    .music{
        margin-right: 1.5%;
    }
}

@media only screen and (max-width:640px){
    .main{
        margin:10% 15%;
    }
}


@media only screen and (max-width:375px){
    body{
        background-image:url("pattern-background-mobile.svg");
    }
    .main{
        margin: 10% 5%;
    }
}
